* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  list-style: none;
}
img,
picture,
video {
  max-width: 100%;
  display: block;
}
.headerexplorers {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: goldenrod;
  background-image: url(https://c1.wallpaperflare.com/preview/822/256/959/banner-header-paper-crumpled.jpg);
  box-shadow: 0 0 30px black;
  position: relative;
  width: 100%;
}
.headerexplorers p {
  transition: 0.2s;
}
.sectionone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-image: url(https://w0.peakpx.com/wallpaper/147/280/HD-wallpaper-gold-background-vectors-stock-psd-white-gold.jpg);
  background-size: contain;
}
.explorecontainer {
  display: flex;
  gap: 20px;
}
.explorers {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  border-radius: 5px;
  padding-inline: 80px;
  padding-block: 280px;
  transition: 0.2s;
}
.explorer1 {
  background-image: url(bilderfraphotos/flowersunset.jpg);
  background-size: cover;
  background-position: -6lvb;
  color: white;
  border: 2px solid rgb(255, 0, 0);
}
.explorer2 {
  background-image: url(bilderogvideo/galleryfront.jpg);
  background-size: cover;
  background-position: -9vb;
  color: goldenrod;
  border: 2px solid goldenrod;
}
.explorer3 {
  background-image: url(bilderogvideo/schoolfront.jpg);
  background-size: cover;
  color: violet;
  border: 2px solid violet;
}
.sectiontwo {
  display: flex;
  justify-content: center;
  gap: 60px;
  width: 100%;
  height: 100vh;
  background-image: url(bilderogvideo/blackbg2.jpg);
  background-size: cover;
}
section img {
  transition: 0.2s;
}

.aboutmetext {
  width: 40%;
}
.aboutmetext h1 {
  font-size: 190px;
  color: gray;
  transition: 0.2s;
}

.aboutmetext p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
  text-align: justify;
  color: white;
}
.aboutmetext p:last-of-type {
  display: none;
}
.sectiontwo img:last-of-type {
  display: none;
}
@media (width<1220px) {
  .explorers {
    padding-inline: 50px;
  }
  .aboutmetext h1 {
    font-size: 150px;
  }
}
@media (min-width: 1060px) {
  .headerexplorers p:hover {
    color: black;
    transform: scale(1.05);
  }
  .explorers {
    filter: grayscale(90%);
  }
  .explorers:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
    cursor: pointer;
    box-shadow: 0 0 100px black;
  }
  section img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 100px black);
  }
  .aboutmetext h1:hover {
    color: goldenrod;
    transform: scale(1.02);
    cursor: default;
    text-shadow: 0 0 80px goldenrod;
  }
}
@media (width<1060px) {
  .explorecontainer {
    flex-direction: column;
    width: 100%;
  }
  .explorers {
    padding-block: 60px;
    padding-inline: 0;
    width: 70%;
    margin: auto;
    text-align: center;
    border: none;
    box-shadow: 0 0 50px black;
  }
  .explorer1 {
    background-image: url(https://t4.ftcdn.net/jpg/02/99/52/51/360_F_299525100_bjDDpkYba0g2TP0yCeeiy9ucIT4YuUzM.jpg);
    background-position: center;
  }
  .explorer2 {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/013/951/340/small/sea-ocean-beach-sunset-sunrise-landscape-outdoor-water-wave-with-white-foam-beautiful-sunset-colorful-sky-with-clouds-natural-island-panoramic-background-idyllic-amazing-tropical-island-shore-photo.jpg);
    background-position: center;
    color: rgb(249, 211, 115);
  }
  .explorer3 {
    background-image: url(https://thumbs.dreamstime.com/b/college-campus-open-book-education-image-background-wallpaper-381377602.jpg);
    background-position: center;
    color: rgb(255, 170, 255);
  }
  .sectiontwo {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  .sectiontwo img {
    display: none;
  }
  .sectiontwo h1 {
    color: goldenrod;
    text-shadow: 0 0 80px goldenrod;
    font-size: 120px;
    text-align: center;
    padding-block: 30px;
  }
  .aboutmetext {
    width: 100%;
  }
  .aboutmetext p {
    width: 70%;
    margin: auto;
  }
  .sectiontwo img:last-of-type {
    display: block;
    width: 70%;
    margin-bottom: 60px;
    box-shadow: 0 0 80px black;
    border-radius: 20px;
  }
  .aboutmetext p:last-of-type {
    display: block;
  }
  .aboutmetext p:first-of-type {
    display: none;
  }
}
@media (width<532px) {
  .aboutmetext p {
    font-size: 17px;
    line-height: 25px;
  }
}
@media (width<440px) {
  .aboutmetext h1 {
    font-size: 92px;
  }
}
