* {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  z-index: 0;
  text-decoration: none;
  color: inherit;
  list-style: none;
  padding-inline: 5px;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.2s;
}
header {
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 70px;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 0 0 50px gray;
  border-radius: 50px;
}
header img {
  width: 300px;
}
a,
h1 {
  width: fit-content;
  transition: 0.2s;
}
h1:hover {
  color: rgb(167, 119, 0);
}
body {
  font-family: cursive;
  background-color: rgb(228, 228, 228);
  overflow-x: hidden;
  background-image: url(https://www.publicdomainpictures.net/pictures/70000/nahled/old-white-background.jpg);
  background-size: contain;
}
img:hover {
  transform: scale(1.05);
}
#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 300px;
  gap: 15px;
}
#gallery img {
  box-shadow: 0 0 30px;
}
#gallery img:hover {
  filter: contrast(130%);
  border-radius: 40px;
}
.gallerycontainer {
  display: grid;
  gap: 50px;
}
.sis,
.theslavicgang,
.motbislet,
.ionikos,
.widthphotopiter,
.greekgang3 {
  grid-column: span 2;
}
.graypiter,
.arturs,
.motbislet,
.greekgang,
.stix,
.greekgang3 {
  grid-row: span 2;
}
.norgesmester {
  grid-column: span 4;
  grid-row: span 4;
}
