* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  list-style: none;
  transition: 0.5s;
}
img,
picture,
video {
  max-width: 100%;
  display: block;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background: none;
  color: rgb(51, 51, 58);
  filter: brightness(160%);
  font-family: "Times New Roman", Times, serif;
  padding-inline: 55px;
}
.hamburgericon {
  display: none;
}
.upleftpit:hover {
  cursor: pointer;
  text-shadow: 0 0 200px white;
}
.infomain {
  display: flex;
  gap: 60px;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.galleryicon {
  width: 50px;
  height: auto;
  filter: invert(33%);
  transition: 0.2s;
}
.galleryicon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.shopicon {
  width: 50px;
  height: auto;
  filter: invert(30%);
  transition: 0.2s;
}
.shopicon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.headermaincontainer {
  width: 100%;
  height: 100%;
  position: absolute;
}
.sectionuno {
  height: 100vh;
  background-image: url(bilderogvideo/piterlighteyesgoldbgone.jpg);
  background-position: center;
  background-size: cover;
}
.titlemain {
  text-align: center;
  color: white;
  position: relative;
}
.THEOFFICIALWEBSITE {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  letter-spacing: 5px;
}
.fullnavn {
  font-size: 130px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.fullnavndisplay {
  display: none;
}
.explorehover {
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;
  padding-inline: 55px;
  width: 100%;
}
.acontainer {
  width: 100%;
}
.explorehover:hover {
  background-color: white;
  color: white;
  border: white 1px solid;
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 300px white;
}
.paragraphdiv {
  display: none;
}
.iconsandtext {
  background-image: url(bilderogvideo/blackbg1\ copy.jpg);
  background-size: cover;
  background-position: top;
  display: grid;
  gap: 40px;
  padding-top: 65px;
  padding-bottom: 45px;
}
.icons,
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(152, 152, 152);
}
.icons {
  gap: 15px;
}
.text {
  gap: 40px;
}
.text {
  font-size: large;
}
.facebook,
.youtube,
.snapchat,
.basketball {
  transition: 0.2s;
}
.facebook:hover,
.youtube:hover,
.snapchat:hover,
.basketball:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: rgb(7, 7, 7);
  color: rgb(212, 212, 212);
}
@media (min-width: 1035px) {
  .fullnavn:hover {
    color: goldenrod;
    cursor: default;
    transform: scale(1.05);
    text-shadow: 0 0 100px goldenrod;
  }
}
@media (width<1100px) {
  header {
    padding-inline: 30px;
  }
}
@media (width<1035px) {
  .fullnavn {
    font-size: 100px;
    color: goldenrod;
    text-shadow: 0 0 100px goldenrod;
  }
}
@media (width<910px) {
  header {
    background: rgba(0, 0, 0, 0.628);
    box-shadow: 0 0 100px black;
  }
}
@media (width<810px) {
  .fullnavn {
    font-size: 80px;
  }
  .sectionuno {
    background-size: 120%;
  }
  a div p,
  nav img {
    display: none;
  }
  .hamburgericon {
    display: block;
    width: 40px;
    height: 40px;
    justify-content: center;
  }
  header div {
    display: none;
  }
}
@media (min-width: 430px) {
  .sectionuno {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (width<430px) {
  .sectionuno {
    height: 660px;
    background-position: center -30px;
    align-items: center;
    padding-bottom: 150px;
    flex-direction: column;
    padding-top: 100px;
  }
  .THEOFFICIALWEBSITE {
    font-size: 14px;
  }
  .fullnavn {
    display: none;
  }
  .fullnavndisplay {
    display: block;
    font-size: 100px;
    color: goldenrod;
    text-shadow: 0 0 100px goldenrod;
  }
  .explorehover {
    width: 80%;
    margin: auto;
  }
  .paragraphdiv {
    display: block;
    color: white;
    padding-inline: 60px;
    text-align: justify;
    line-height: 35px;
    margin-top: 80px;
  }
  .text {
    font-size: 14px;
  }
}
