* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #efe8dc;
  text-decoration: none;
  list-style: none;
}
.textogvideo {
  display: flex;
  height: fit-content;
  gap: 100px;
  padding-inline: 40px;
}
.ballogsporttitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.interestsheader {
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  margin-inline: 70px;
}
.interestsheader div {
  display: flex;
  gap: 100px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: 5px;
}
.interestsheader p {
  transition: 0.2s;
  height: 0;
}
.interestsheader p:hover {
  transform: scale(1.1);
}
.basketsection {
  display: grid;
  justify-content: center;
  height: 100vh;
  background-image: url(bilderogvideo/BASKETBALLBACKGROUND.jpeg);
  background-size: cover;
}
.ballogsporttitle h1 {
  font-size: 200px;
  transition: 0.2s;
}
.ballogsporttitle h1:hover {
  transform: scale(1.05);
  color: goldenrod;
  text-shadow: 0 0 100px black;
  cursor: default;
}
.ballogsporttitle h2 {
  font-size: 50px;
}
.ballogsporttitle p {
  font-size: 50px;
}
.textes {
  display: flex;
  width: 50%;
  gap: 20px;
  line-height: 25px;
}
.textes p {
  color: #a8a398;
}
.videotext {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgb(68, 68, 68);
  border-radius: 40px;
  width: inherit;
  transition: 0.2s;
}
.videotext:hover {
  transform: scale(1.05);
  background-color: rgb(0, 0, 58);
  box-shadow: 0 0 100px black;
}
.textnexttovideo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 36%;
  line-height: 25px;
  padding-block: 5px;
  padding-inline: 15px;
}
.backtoexplore {
  filter: invert(100%);
  height: 0;
  transition: 0.2s;
}
.backtoexplore:hover {
  transform: scale(1.2);
}
.headericons img {
  filter: invert(200%);
}
.weekndheader img {
  filter: invert(100%);
}
.weekndheader {
  background-color: black;
  display: flex;
  padding: 15px;
  position: fixed;
}
section {
  background: url(bilderogvideo/giphy.gif);
  background-size: 100% 115vh;
  width: 100%;
  height: 100vh;
  display: flex;
}
.del1,
.del2 {
  height: 100h;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.del1 {
  gap: 90px;
  padding-top: 150px;
}
.del2 {
  color: white;
  justify-content: center;
  align-items: end;
}
.AT {
  color: white;
  font-size: 150px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  padding-left: 120px;
}
.AT a {
  transition: 0.2s;
}
.AT a:hover {
  color: rgb(255, 108, 44);
  transform: scale(1.05);
  text-shadow: 0 0 30px rgb(255, 108, 44);
}
.THEWEEKND {
  color: cyan;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  transform: rotate(-90deg);
  width: inherit;
  height: fit-content;
  font-size: 40px;
}
.del2innhold {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 120px;
  padding-top: 100px;
}
.del2innhold h1 {
  font-size: 25px;
  color: rgb(255, 108, 44);
}
.checkweeknd {
  background-color: cyan;
  text-align: center;
  color: black;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.2s;
}
.checkweeknd:hover {
  box-shadow: 0 0 80px white;
  transform: scale(1.05);
  background-color: rgb(255, 108, 44);
  color: white;
}
.theweekndsectioncontainer {
  background-image: url(bilderogvideo/theweekndbg2.png);
  background-size: 100% 115vh;
  width: 100%;
  height: 100vh;
  display: flex;
}
@media (width<1047px) {
  .textogvideo {
    gap: 40px;
  }
}
@media (width<940px) {
  
}
