* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 0;
  text-decoration: none;
  color: inherit;
  list-style: none;
}
img,
picture,
video {
  max-width: 100%;
  display: block;
}
.schoolcontainer {
  display: grid;
  gap: 35px;
}
.schoolcontainer div {
  display: flex;
  justify-content: center;
  background-color: black;
}
.schoolheader {
  font-size: 70px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/358/468/non_2x/vector-white-background.jpg);
  background-size: cover;
  width: 100%;
}
.schoolheader a {
  transition: 0.2s;
}
.schoolheader a:hover {
  transform: scale(1.1);
}
.backhome {
  display: flex;
  justify-content: center;
}
a img:hover {
  transition: 0.2s;
}
a img:hover {
  filter: invert(100%);
  transform: scale(1.2);
}
table {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: separate;
  width: 100%;
  transition: 0.2s;
  overflow: hidden;
}
table:hover {
  box-shadow: 0 0 30px black;
}
td,
th {
  padding: 10px;
  cursor: default;
  transition: 0.2s;
}
th {
  background-color: lightgray;
}
td {
  background-color: white;
  border-radius: 20px;
}
td:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px black;
}
table p {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.529);
}
table h4 {
  color: black;
}
.IT {
  background-color: rgba(171, 236, 171, 0.6);
}
.Fysikk {
  background-color: rgba(0, 128, 111, 0.6);
}
.GYM {
  background-color: rgba(173, 216, 230, 0.6);
}
.Matte {
  background-color: rgba(207, 235, 207, 0.6);
}
.Norsk {
  background-color: rgba(255, 0, 0, 0.6);
}
.Historie {
  background-color: rgba(255, 217, 0, 0.6);
}
.Klassenstime,
.Studieverksted {
  background-color: rgba(72, 146, 211, 0.6);
}
